<meta charset="UTF-8">
<title><%= user.site_title %></title>
<meta name="description" content="<%= site.description %>"/>
<meta name="author" content="<%= site.author %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="<%= site.basePath %>/assets/css/style.main.css">
<link rel="icon" href="<%= site.basePath %>/assets/icons/favicon.ico">
<link rel="manifest" href="<%= site.basePath %>/assets/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
